<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Товары</title>
</head>
<body>
    <h1>Товары</h1>
    <a href="{% url 'product_create' %}">Создать</a>
    <ul>
        {% for product in products %}
        <li>
            <img src="{{ product.img.url }}" alt="{{ product.title }}" width="200">
            <p>{{ product.description }}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>