<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Create New Product</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <label for="{{ form.title.id_for_label }}">Название товара:</label>
                {{ form.title }}
                {% if form.title.errors %}
                    <div class="alert alert-danger">
                        {{ form.title.errors }}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.price.id_for_label }}">Цена:</label>
                {{ form.price }}
                {% if form.price.errors %}
                    <div class="alert alert-danger">
                        {{ form.price.errors }}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.img.id_for_label }}">Изображение:</label>
                {{ form.img }}
                {% if form.img.errors %}
                    <div class="alert alert-danger">
                        {{ form.img.errors }}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.description.id_for_label }}">Описание:</label>
                {{ form.description }}
                {% if form.description.errors %}
                    <div class="alert alert-danger">
                        {{ form.description.errors }}
                    </div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
            <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</body>
</html>